.container-btn {
    height: 83px;
    display: flex;
    flex: 1 1;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 38px;
    background-color: #1b1b32;
    color: whitesmoke;
    border-radius: 15px;
    border: 2px solid white;
    margin: 4px;
    cursor: pointer;
    user-select: none;
}

.container-btn:hover {
    background-color: #333355;
}

.operator {
    background-color: #00471b;
}

.operator:hover {
    background-color: #3a6149;
}