.btn-clear {
    height: 80px;
    font-size: 1.6em;
    display: flex;
    flex: 1;
    background-color: #ac0246;
    margin-top: 8px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: whitesmoke;
    border: 2px solid whitesmoke;
    border-radius: 15px;
    cursor: pointer;
    user-select: none;
}

.btn-clear:hover {
    background-color: #9b335c;
}